* {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, a, label {
    font-family: "Segoe UI", Arial, sans-serif;
}

a:hover {
    cursor: pointer;
}

/* ----- navigation-bar ----- */
.topnav {
    display: block;
    height: 80px;
}

.topnav ul {
    background-color: white;
    list-style-type: none;
    padding: 20px;
}

.topnav li {
    float: right;
    padding: 0 0 0 20px;
}

.topnav-label {
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    display: block;
    color: #3D3D3D;
    min-width: auto;
    width: auto;
    padding: 10px 24px;
}


/* ----- inputs ----- */
input[type=text], input[type=password], input[type=number], textarea {
    font-size: 16px;
    box-sizing: border-box;
    background-color: white;
    color: black;
    outline: none;
    width: 100%;
}

input[type=text]::placeholder, input[type=password]::placeholder, textarea::placeholder {
    font-family: "Segoe UI", Arial, sans-serif;
    color: darkgray;
}

textarea {
    resize: vertical;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
    height: 20px;
    width: 20px;
    padding: 5px;
    cursor: pointer;
    color: #3D3D3D;
}

.border-input-text {
    border: 2px solid darkgray;
    border-radius: 20px;
    padding: 10px 24px;
}

.border-input-text:focus {
    border: 2px solid #004687;
}

.border-bottom-input-text {
    border: none;
    border-bottom: 2px solid #004687;
    padding: 12px 20px 5px 0;
}

.border-bottom-input-text:focus {
    border-bottom: 2px solid #004687;
}


/* ----- containers ----- */
.large-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 200px 0 200px 0;
}

.grey-large-container {
    background-color: #ccc;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 200px 0 200px 0;

}

.white-container {
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    padding: 100px 0 100px 0;
}

.dark-purple-small-container {
    background-color: #004687;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    padding: 100px 0 100px 0;
}

/* ----- sections -----*/
.small-section, .section, .large-section {
    box-sizing: border-box;
    min-width: 400px;
    padding: 0 50px 0 50px;
}

.small-section {
    width: 30%;
}

.section {
    width: 60%;
}

.large-section {
    width: 80%;
}


/* ----- boxes ----- */
.box, .white-box, .dark-purple-box {
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.white-box {
    background-color: white;
}

.dark-purple-box {
    background-color: #004687;
}


/* ----- box-content ----- */
.box-content {
    box-sizing: border-box;
    display: block;
    padding: 50px;
    width: 100%;
}

/* ----- boxes ----- */
.dark-purple-small-box {
    background-color: #004687;
    box-sizing: border-box;
    width: 30%;
    padding: 50px;
}

.white-small-box {
    background-color: white;
    box-sizing: border-box;
    min-width: 400px;
    width: 35%;
    padding: 65px;
}

.white-medium-box {
    background-color: white;
    box-sizing: border-box;
    min-width: 400px;
    width: 50%;
    padding: 50px 65px 50px 65px;

}

.white-large-box {
    background-color: white;
    box-sizing: border-box;
    width: 80%;
    padding: 50px;
}

.large-box {
    box-sizing: border-box;
    min-width: 400px;
    width: 80%;
    padding: 50px;
}


/* ----- flex ----- */
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-flex {
    display: flex;
    justify-content: left;
    align-items: center;
}

.right-flex {
    display: flex;
    justify-content: right;
    align-items: center;
}


/* ----- grids ----- */
.col-1-grid, .col-2-grid, .col-3-grid, .col-4-grid, .col-5-grid,
.row-1-grid, .row-2-grid, .row-3-grid, .row-4-grid, .row-5-grid, .row-6-grid {
    box-sizing: border-box;
    display: grid;
    width: 100%;
}

.col-1-grid {
    grid-template-columns: auto;
}

.col-2-grid {
    grid-template-columns: auto auto;
}

.col-3-grid {
    grid-template-columns: auto auto auto;
}

.col-4-grid {
    grid-template-columns: auto auto auto auto;
}

.col-5-grid {
    grid-template-columns: auto auto auto auto auto;
}

.row-1-grid {
    grid-template-rows: auto;
}

.row-2-grid {
    grid-template-rows: auto auto;
}

.row-3-grid {
    grid-template-rows: auto auto auto;
}

.row-4-grid {
    grid-template-rows: auto auto auto auto;
}

.row-5-grid {
    grid-template-rows: auto auto auto auto auto;
}

.row-6-grid {
    grid-template-rows: auto auto auto auto auto auto;
}

/* ----- padding ----- */
.s-p, .m-p, .l-p, .xl-p, .title-p, .large-title-p {
    box-sizing: border-box;
    display: block;
}

.s-p {
    padding: 5px 0 5px 0;
}

.m-p {
    padding: 10px 0 10px 0;
}

.l-p {
    padding: 15px 0 15px 0;
}

.xl-p {
    padding: 25px 0 25px 0;
}

.small-title-p {
    padding: 15px 0 35px 0;
}

.title-p {
    padding: 25px 0 35px 0;
}

.large-title-p {
    padding: 30px 0 50px 0;
}

.top-p {
    padding-top: 35px;
}

.bottom-p {
    padding-bottom: 20px;
}

.l-bottom-p {
    padding-bottom: 55px;
}


.sp-grid-element {
    box-sizing: border-box;
    display: block;
    padding: 25px 10px 25px 10px;
}

.mp-grid-element {
    box-sizing: border-box;
    display: block;
    padding: 25px;
}

.lp-grid-element {
    box-sizing: border-box;
    display: block;
    padding: 25px 35px 25px 35px;
}

.title-grid-element {
    box-sizing: border-box;
    display: block;
    padding: 25px 0 35px 0;
}

.large-title-grid-element {
    box-sizing: border-box;
    display: block;
    padding: 30px 0 50px 0;
}


/* ----- tables ----- */
table-labels {
    font-weight: bold;
}


table {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 16px;
    width: 100%;
    border-collapse: collapse;
    border: none;
}

table .table-labels {
    font-size: 15px;
    font-weight: bold;
}

table .table-labels th{
    padding: 5px 0 5px 0;
}

th {
    padding: 10px 0 10px 0;
}

th h3, th h4 {
    font-weight: normal;
}

.collapse-table {
    border-collapse: collapse;
}

.collapse-table .table-labels {
    background-color: white;
    border-top: 1px solid  #CFCFCF;
    border-bottom: 1px solid #CFCFCF;
    font-weight: bold;
    font-size: 15px;
    color: black;
}

.collapse-table .table-labels th {
    padding: 20px 0 20px 0;
}

.collapse-table th h3, .collapse-table th h4{
    font-weight: normal;
}

.collapse-table th {
    padding: 35px 0 35px 0px;
}

.collapse-table tr {
    border-bottom: 1px solid #CFCFCF;

}




/* ----- images ----- */
.img-container {
    width: 100%;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.img-logo {
    position: absolute;
    left: 80px;
    top: 0;
    height: 150px;
    z-index: 2;
}


/* ----- text-styling ----- */
.left-text {
    text-align: left;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.white-text {
    color: white;
}

.dark-grey-text {
    color: #3D3D3D;
}

.grey-text {
    color: darkgray;
}

.dark-purple {
    color: #004687;
}


/* ----- buttons ----- */
.white-small-button, .white-button, .white-large-button, .active-button, .purple-small-button, .purple-button,
.purple-large-button, .green-large-button, .white-green-large-button, .red-large-button, .grey-large-button {
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    display: block;

}

.white-small-button:hover, .white-button:hover, .white-large-button:hover, .active-button:hover, .purple-small-button:hover, .purple-button:hover,
.purple-large-button:hover, .green-large-button:hover, .white-green-large-button:hover, .red-large-button:hover, .grey-large-button:hover {
    font-weight: bold;
    cursor: pointer;
}

.white-small-button, .purple-small-button{
    min-width: 200px;
    width: 30%;
    padding: 10px 24px;
}

.white-button, .purple-button {
    min-width: auto;
    width: auto;
    padding: 10px 24px;
}

.white-large-button, .active-button, .purple-large-button, .green-large-button, .white-green-large-button, .red-large-button, .grey-large-button {
    min-width: 200px;
    width: 100%;
    padding: 14px 24px;
}

.white-small-button, .white-button, .white-large-button {
    background-color: white;
    color: #3D3D3D;
}

.white-small-button:hover, .white-button:hover, .white-large-button:hover {
    background-color: #004687;
    color: white;
}

.purple-small-button, .purple-button, .purple-large-button, .active-button{
    background-color: #004687;
    color: white;
}

.purple-small-button:hover, .purple-button:hover, .purple-large-button:hover, .active-button:hover {
    background-color: #004687;
}

.purple-no-fill-button {
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    color: #004687;
    padding: 10px 10px;
    border-radius: 20px;
    border: 1px solid #004687;
}

.purple-no-fill-button:hover {
    border-radius: 20px;
    border: 1px solid #004687;
    color: white;
    background-color: #004687;
    font-weight: bold;
    cursor: pointer;
}

.green-large-button {
    background-color: #00D555;
    color: white;
}

.green-large-button:hover {
    background-color: #069A41;
}

.white-green-large-button {
    background-color: white;
    color: #3D3D3D;
    font-weight: bold;
}

.white-green-large-button:hover {
    background-color: #00D555;
    color: white;
}

.red-large-button {
    background-color: #F52B32;
    color: white;
}

.red-large-button:hover {
    background-color: #BC090F;
}

.grey-large-button {
    background-color: #6D6D6D;
    color: white;
}

.grey-large-button:hover {
    background-color: #3D3D3D;
}

.remove-button {
    display: block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: #3D3D3D;
}

.remove-button:hover {
    color: red;
    cursor: pointer;
}

.red-button {
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: black;
}

.red-button:hover {
    color: red;
}

.active-button:active {
    background-color: #069A41;
}

/* ----- dropdown ----- */
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    background-color: #004687;
    border-radius: 20px;
    display: none;
    position: absolute;
    right: 0;
    min-width: 150px;
    z-index: 3;
    padding: 10px;
}

.dropdown-content a {
    color: white;
    text-align: left;
    text-decoration: none;
    display: block;
    padding: 12px 16px;
}

.dropdown-content a:hover {
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .purple-button {
    background-color: #004687;
    color: white;
}

/* ----- links ----- */
.blue-link {
    color: blue;
    font-size: 12px;
    text-decoration: underline;
}

.blue-link:hover {
    color: black;
}


/* ----- labels ----- */
.small-title-label {
    color: #3D3D3D;
    font-weight: bold;
}


.l-label {
    font-weight: bold;
    font-size: 18px;
}

.title-label {
    font-weight: bold;
    font-size: 50px;
}

.text-label {
    font-weight: bold;
    font-size: 20px;
}

.small-label {
    font-size: 14px;
    font-weight: normal;
    color: #6D6D6D;
    text-decoration: underline;
}

/*TODO (hvis der er tid)*/
.left.arrow-button {
}

.right-arrow-button {
}

.center-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 200px 50px 200px 50px;
    background-color: #ccc;
}

.list-container {
    box-sizing: border-box;
    grid-column: 2;
    display: grid;
    border: 1px solid pink;
    grid-template-rows: auto auto auto;
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 25px;
}



.shopping-cart-container {
    grid-column: 2;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
}

.shopping-cart-container .shopping-cart-section, .shopping-cart-container .order-cart-section {
    padding: 50px;
}

.shopping-cart-section {
    min-width: 500px;
    background-color: white;
    color: black;
    display: grid;
    grid-template-rows: auto auto auto;

}

.order-cart-section {
    min-width: 300px;
    background-color: #004687;
    color: white;
}

.shopping-cart-section .top-grid-element {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-bottom: 20px;
}

.left-grid {
    grid-column: 1;
    text-align: left;
}

.right-grid {
    grid-column: 3;
    text-align: right;
}

.shopping-cart-section .center-grid-element {
    text-align: center;
    padding: 0;
}

.shopping-cart-section .center-grid-element th {
    min-width: 30px;
}

.shopping-cart-section .center-grid-element .table-labels {
    color: #3D3D3D;
}

.shopping-cart-section .bottom-section {
    display: grid;
    grid-template-columns: auto auto auto;
}

.title-container {
    text-align: center;
    padding-bottom: 50px;
}

.colors {
    color: #004687;
    color: #004687;
    color: #00D555;
    color: #069A41;
    color: #E5E0EA;
    color: #3D3D3D;
    color: #6D6D6D;
    color: white;
    color: black;
    color: #BC090F;
    color: #F52B32;
    color: blue;
}

.media {
    display: block;
    border-radius: 20px;
    box-sizing: border-box;
    color: #004687;
    margin: 5px;
}

.large-container1 {
    padding-top: 200px;
    height: 700px;
    background-color: #ccc;
}

.white-large-section {
    margin: auto auto auto auto;
    width: 80%;
    min-height: 450px;
    max-width: 2000px;
    min-width: 300px;
    padding: 25px;
    background-color: white;
}

.col3-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    padding-bottom: 0;
}

.section1 {
    grid-column: 1;
    min-width: 300px;
}

.section1 div {
    padding-bottom: 20px;
}

.section2 {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-column: 3;
    max-width: 400px;
}

.section2 div {
    min-width: 300px;
    width: 100%;
    padding-bottom: 20px;
}

select {
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    cursor: pointer;
}

#svgImg {
    border: 2px solid;
    padding: 20px;
    width: 300px;
    resize: both;
    overflow: auto;
}